<div class="home-container d-flex flex-row align-items-center h-100">

  <div class="helpers-home flex-column align-items-center vh-100">
    <div class="color"></div>
    <div class="left-home">
      <%= image_tag('logo.png') %>
      <h1>Helpers</h1>
      <p>Si une solution existe, <br>
        vous la trouverez ici</p>
      <%= link_to "Je trouve", assos_path, data: {turbolinks: false} %>
    </div>
    <div>
      <%= video_tag "helpers.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    </div>
  </div>
</div>

<div class="home-screen">
  <div class="home-box">
    <h2>Comment nous<br>vous aidons ?</h2>
    <p>
      Avec plus d'un million d'associations<br>et d'organismes de soutien en France,<br>il y a surement une solution qui vous attend.
    </p>
  </div>
  <div class="home-description">
    <div class="home-text">
      <%= link_to assos_path(anchor: "home-header") do  %>
      <h2><i class="fas fa-chevron-right"></i> Laissez-vous guider</h2>
        <p>Des solutions personnalisées en quelques questions</p>
        <% end %>
        <%= link_to assos_path(anchor: "barre-de-recherche") do  %>
        <h2><i class="fas fa-chevron-right"></i> Parcourez toutes les aides</h2>
        <p>Un répertoire des aides et organismes disponibles</p>
        <% end %>
        <%= link_to assos_path(anchor: "barre-de-recherche") do  %>
      <h2><i class="fas fa-chevron-right"></i> Organisez votre recherche par thème</h2>
      <p>Un ensemble de solutions par rubrique</p>
      <% end %>
    </div>
  </div>
</div>

<div class="home-icon">
  <div class="home-footer">
    <div id="ic1">
      <i class="fas fa-hand-holding-heart"></i>
      <p>Avec bienveillance</p>
    </div >
    <div id="ic2">
      <i class="fas fa-hands-helping"></i>
      <p>Ensemble</p>
    </div>
    <div id="ic3">
      <i class="fas fa-dove"></i>
        <p>Pour notre liberté</p>
    </div>
  </div>
</div>
