<div class="py-5vh background-pink px-5vw">
  <div class="helpers-body bg-white w-100 helpers-rounded d-flex flex-row" style="height: 70vh;">
    <div id="map"
     style="width: 50%; height: 70vh;"
     class="custom-rounded-left-10"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="w-50" style="overflow: hidden; height: 100%; overflow-y: scroll;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="pt-4 bolder-text">Mes favoris</h3>
        <% if current_user.favs.empty? %>
          <div class="empty-favs d-flex justify-content-center align-items-center">
            <p class="text-middle">Pas d'association en favoris ? Cliquez sur <%= icon 'fas', 'heart', class: "heart" %>pour l'ajouter en favoris.</p>
          </div>
        <% else %>
          <div class="asso-cards m-5">
            <div class="d-flex flex-wrap flex-row justify-content-center align-items-center">
              <% current_user.favs.each do |fav| %>
                <div data-controller="fav" data-fav-target="card" class="fade-out-siblings-ex w-100 my-3 d-flex justify-content-center align-items-center">     
                  <div class="asso-card custom-rounded custom-size" style="box-shadow: 4px 4px 14px rgba(0,0,0,0.1);">
                    <% if fav.asso.photo.attached? %>
                      <%= cl_image_tag fav.asso.photo.key, class: "custom-rounded-left", height: 180, width: 150, crop: :fill %>
                    <% else %>
                      <div class="custom-rounded">
                        <%= image_tag 'building-2696768_960_720.png'%>
                      </div>
                    <% end %>
                    <div class="py-5 pr-5 pl-4rem d-flex flex-column justify-content-between h-100">
                      <div class="font-20 important py-4">
                        <%= link_to fav.asso.name, asso_path(fav.asso), class: "text-left a-without-color" %>
                      </div>
                      <div class="font-16" style="color: gray;">
                        <%= fav.asso.description.truncate(150) %>
                      </div>
                      <%#= fav.asso.address %>
                      <div class="mt-auto d-flex justify-content-start flex-row pt-3" style="font-size: 14px;">
                        <div class="pr-3"><%= icon 'fas', 'city' %> <%= fav.asso.city %></div>
                        <div class="pr-3"><%= link_to icon 'far', 'envelope', Mail %> <%fav.asso.email %></div>
                        <div class="pr-3"><%=link_to icon 'fas', 'at' %> Site <%fav.asso.website %></div>
                        <!--  <div class="pr-3"><%= icon 'fas', 'phone' %> <%#= asso.phone_number%></div> -->
                        <div>
                          <%= link_to fav_path(fav), data: {action: 'click->fav#destroy'}, method: :delete, id: 'fav_card', remote: true do %>
                            <%= icon 'fas', 'heart', data: {'fav-target': 'icon'} %>
                          <% end %>
                          <% if current_user.admin? %>
                            <%= link_to "Créer une asso", new_asso_path %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
