<div class="container-form">
<div class="adresse-style bg-white p-5 mt-5 d-flex justify-content-center align-items-center flex-column w-100">
<h2>Précisez votre adresse</h2>
  <%= form_tag("/search_address", method: :get) do %>
  <div class="d-flex flex-column">
      <%= label_tag :address, "Recherche par proximité" %>
      <div id="adress-input">
      <%= text_field_tag :address,"", placeholder: '  ex: 16 villa Gaudelet, Paris' %>
      </div>
      <%= hidden_field_tag :tag, @tag.id %>
      <div class="submit-btn">
  <%= link_to icon('fas','step-backward'), search_sub_cat_path(params: { sub_cat: @tag.sub_category.id, category: @tag.sub_category.category.id })  %>
  <%= submit_tag "Voir les résultats" %>
  </div>
  <% end %>
  </div>
  </div>
</div>
</div>
