<div class="container-form">
<div class="bg-white p-5 m-5 d-flex justify-content-center align-items-center flex-column w-100">
  <%= form_tag("/search_address", method: :get) do %>
  <div class="d-flex flex-column">
      <%= label_tag :address %>
      <%= text_field_tag :address %>
      <%= hidden_field_tag :tag, @tag.id %>
  <%= submit_tag "Search" %>
  <% end %>
  </div>
  </div>
</div>