<div class="vw-100 py-10vh background-pink px-5vw">
  <div class="text-center py-10vh w-100 px-5vw bg-white helpers-rounded m-2">
    <h2>Faites vous aider</h2>
    <br>
      <div class="separator d-flex justify-content-center align-items-center"></div>
      <br>
    <p class="text-muted">Trouvons ensemble le chemin vers la solution</p>
    <br>
      <div class="row d-flex justify-content-between mx-0 py-5">
        <div class="col-3 d-flex flex-column justify-content-center align-items-center">
          <div style="background-image: url('https://images.unsplash.com/photo-1508847154043-be5407fcaa5a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1'); height: 300px; background-size: cover; background-position: center; width: 100%;"></div>
            <div class="d-flex w-100 justify-content-center align-items-center helpers-green demi-rounded p-3">
              <%= link_to "Solidarité", assos_path %>
            </div>
        </div>
        <div class="col-4 d-flex flex-column justify-content-center align-items-center">
          <div style="background-image: url('https://images.unsplash.com/photo-1604604557577-4e27a33e57da?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1'); height: 300px; background-size: cover; background-position: center; width: 100%;"></div>
            <div class="d-flex w-100 justify-content-center align-items-center helpers-red demi-rounded p-3">
              <%= link_to "Assistance", assos_path %>
            </div>
        </div>
        <div class="col-3 d-flex flex-column justify-content-center align-items-center">
          <div style="background-image: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1'); height: 300px; background-size: cover; background-position: center; width: 100%;"></div>
            <div class="d-flex w-100 justify-content-center align-items-center helpers-yellow demi-rounded p-3">
              <%= link_to "Financier", assos_path %>
            </div>
        </div>
      </div>
  </div>
</div>

  <%= form_tag assos_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Rechercher une association"
    %>
    <%= button_tag do %>
      <%= icon 'fas', 'search' %>
    <% end %>
  <% end %>

<div class="asso-cards">
<div class="asso-card">
  <% @assos.each do |association| %>
    <%= link_to association_path(association) do %>
    <%= association.name %>
    <%= association.address %>
    <%= association.city %>
    <%= association.description %>
    <%= association.email %>
    <%= association.website %>
    <%= association.phone_number %>
    <% end %>
  <% end %>
  </div>
</div>



<footer class="footer">
  <p>Made with <%= icon 'fas', 'heart' %> by Helpers' Team</p>
  <%= icon 'fab', 'twitter' %>
  <%= icon 'fab', 'facebook' %>
  <%= icon 'fab', 'instagram' %>
</footer>
