<div class="bg-white index-display pt-5">
  <h2 class="text-center bolder-text">Vos résultats</h2>
  <div class="separator d-flex justify-content-center align-items-center"></div>
  <br>
  <br>
  <div class="asso-cards mx-5 mt-5 pb-5">
    <div class="d-flex flex-wrap flex-row justify-content-center align-items-center">
      <% @assos.each do |asso| %>
        <div class="w-50 my-3 d-flex justify-content-center align-items-center">
          <div class="asso-card d-flex justify-content-start custom-rounded custom-size" style="box-shadow: 4px 4px 14px rgba(0,0,0,0.1);">
            <% if asso.photo.attached? %>
              <%= cl_image_tag asso.photo.key, class: "custom-rounded-left", height: 160, width: 150, crop: :fill %>
            <% else %>
              <div class="custom-rounded">
                <%= image_tag 'building-2696768_960_720.png'%>
              </div>
            <% end %>
            <div class="d-flex flex-column px-4 py-3">
              <div class="font-16">
                <%= link_to asso.name, asso_path(asso), class: "text-left" %>
              </div>
              <div class="font-16">
                <%= asso.description.truncate(120) %>
              </div>
              <%= asso.address %>
              <div class="mt-auto d-flex justify-content-start flex-row p-1">
                <div class="pr-3"><%= icon 'fas', 'city' %> <%= asso.city %></div>
                <div class="pr-3"><%= icon 'far', 'envelope' %> <%= asso.email%></div>
                <div class="pr-3"><%= icon 'fas', 'at' %> <%= link_to "Site web", asso.website%></div>
                <div class="pr-3"><%= icon 'fas', 'phone' %> <%= asso.phone_number%></div>
                <% if current_user.favorites?(asso) %>
                  <%= link_to "unFav", fav_path(Fav.find_by(asso: asso, user: current_user)), method: :delete %>
                <% else %>
                  <%= link_to "Fav", asso_favs_path(asso), method: :post %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
