<div class="show-container">
  <div class="show-content">

    <div id="profile">

      <div id="show-profile-details">
        <div>
        </div>
        <% if @asso.photo.attached? %>
          <div class="show-image" style="background-image: url('<%= cl_image_path @asso.photo.key, height: 250, width: 250, crop: :fill %>');"></div>
        <% else %>
          <div class="d-flex justify-content-start flex-column custom-rounded border" style="width: 350px;height: 250px;background-size: cover;">
          </div>
        <% end %>
        <div id="show-tags">
          <% @asso.tags.each do |tag| %>
            <% if tag.sub_category.category == "Solidarité" %>
            <div id="show-cat">
                <div id="show-tagbox">
                  <span class="badge"> "Solidarité" </span>
                </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div id="show-info">
        <div id="asso-coord">
          <div data-controller="fav" id="fav">
            <% if current_user.favorites?(@asso) %>
              <%= link_to (Fav.find_by(asso: @asso, user: current_user)), method: :delete, data: {action: 'click->fav#update'}, remote: true do %>
                <%= icon 'fas', 'heart', data: {'fav-target': 'icon'} %>
              <% end %>
            <% else %>
              <%= link_to asso_favs_path(@asso), method: :post, data: {action: 'click->fav#update'}, remote: true do %>
                <%= icon 'far', 'heart', data: {'fav-target': 'icon'} %>
              <% end %>
            <% end %>
          </div>
          <h1 id="asso-name"> <%= @asso.name %> </h1>
          <%= @asso.address %>
          <%= @asso.city %>
        </div >
          <h2 id="asso-phone"> <%= @asso.phone_number %> </h2>
          <h2 id="asso-des"> <%= @asso.description %> </h2>
          <hr>
          <h2 id="show-tag"> Ils vous proposent </h2>
        <div id="show-info-tags">
          <% @asso.association_tags.each do |asso_tag| %>
            <div id="show-tagbtn" >
              <span class="badge badge-pill badge-light"> <%= asso_tag.tag.name %> </span>
            </div>
          <% end %>
        </div>
         <hr>

        <div id="showbtn">
          <div class="btn-show">
            <a href="mailto:<%= @asso.email %>">Envoyer un mail</a>
          </div>
          <div class="btn-show">
            <a href="<%= @asso.website %>" target="_blank">Aller sur le site</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
