<div class="py-5vh background-pink px-5vw">
  <div class="bg-white helpers-rounded px-5vw py-5vh">
    <div id="profile" class="p-4">
      <div>
        <div>
          <h1 id="asso-name"> <%= @asso.name %> </h1>
          <h2 id="asso-phone"> <%= @asso.phone_number %> </h2>
          <h2 id="asso-des"> <%= @asso.description %> </h2>
        </div>
        <% if @asso.photo.attached? %>
          <div class="d-flex justify-content-start flex-column custom-rounded border" style="background-image: url('<%= cl_image_path @asso.photo.key, height: 250, width: 300, crop: :fill %>');width: 350px;height: 250px;background-size: cover;"></div>
        <% else %>
          <div class="d-flex justify-content-start flex-column custom-rounded border" style="width: 350px;height: 250px;background-size: cover;">
          </div>
        <% end %>
        <div id="show-cat">
          <% @asso.association_tags.each do |asso_tag| %>
            <div id="show-tagbox">
              <span class="badge badge-pill badge-secondary"> <%= asso_tag.tag.sub_category.category.name %> </span>
            </div>
          <% end %>
        </div>
      </div>

      <div>
        <div id="asso-coord">
          <%= @asso.address %>
          <div>
          <%= @asso.city %>
          </div>
        </div >
        <div>
          <h2 id="show-tag"> Ils vous accompagnent </h2>
          <% @asso.association_tags.each do |asso_tag| %>
          <div id="show-tagbtn" >
            <span class="badge badge-pill badge-light"> <%= asso_tag.tag.name %> </span>
          </div>
        <% end %>
        </div>

        <div id="showbtn">
          <div class="btn-show">
            <a href="mailto:<%= @asso.email %>">Envoyer un mail</a>
          </div>
          <div class="btn-show">
            <a href="<%= @asso.website %>" target="_blank">Aller sur le site</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
